/* Remove bar */
img[src*="https://cdn.rawgit.com/000webhost/logo/e9bd13f7/footer-powered-by-000webhost-white2.png"] {
  display: none;
}

body {
  color: White;
  text-align: center;
  background: url(https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat;
  background-size: cover;
}

label, input, p {
  width: 100%;
}

h1 {
  margin: 10px 0;
  font-size: 3em;
}
input {
  margin: 10px 0;
}

#credit {
  display: none;
}

.container {
  width: 95%;
  margin: auto;
  background: rgba(200,200,200, 0.1);
}

.day {
  text-align: center;
  display: inline-block;
  width: 95%;
  background: rgba(100,100,100, 0.5);
  margin: 10px 10px;
}

.forecast {
  /* display: inline-block; */
  float: left;
  margin: 5px 5px;
  width: 15%;
  min-width: 50px;
  background: rgba(50,50,255,0.7);
}
